@model IEnumerable<Restaurante.Models.Platillo>
@{
    ViewBag.Title = "Menu_Desayunos";
}
<body>
<div class="container">
  <div class = "row">
    <div class="col-12 d-flex justify-content-center">
      <h2 >Desayunos</h2>
    </div>
  </div>
  <br>
  <br>
  
  <div class="row" style="text-align:center">
    @if(Model.Count()>0){
      @foreach (var platillo in Model.OrderBy(o => o.Id))
      {
          if(platillo.Categoria.Nombre.Equals("Desayunos")){
            <div class="col-sm">
          <div class="card"  style="text-align:center">
            <img class="card-img-top" src="/@platillo.UrlImagen" alt="Card image cap" width="100" height="300">
            <div class="card-body">
              <h5 class="card-title">@platillo.Nombre</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@platillo.Descripcion</li>
                <li class="list-group-item">Precio: @platillo.precio</li>
            </ul>
          </div>
        </div>
        }
      }
     
    }
  </div>
</div>
</body>